body {
  display: flex;
  background-color: white;
  color: black;
  font-family: Verdana;
}
.sidebar {
  width: 200px;
  padding: 10px;
  /* background-color: #0000FF; */
  /* color: #FFFFFF; */
}
.content {
  flex-grow: 1;
  padding: 20px;
}
a:hover {
  text-decoration: underline;
}